<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>ashurbanipal.web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <servlet>
    <description></description>
    <display-name>RestServlet</display-name>
    <servlet-name>RestServlet</servlet-name>
    <servlet-class>org.apache.wink.server.internal.servlet.RestServlet</servlet-class>
    <init-param>
    	<param-name>javax.ws.rs.Application</param-name>
    	<param-value>net.crsr.ashurbanipal.web.AshurbanipalWeb</param-value>
    </init-param>
    <init-param>
    	<param-name>propertiesLocation</param-name>
    	<param-value>/WEB-INF/configuration.properties</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestServlet</servlet-name>
    <url-pattern>/data/*</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>RestSdkAdmin</servlet-name>
  	<servlet-class>org.apache.wink.server.internal.servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RestSdkAdmin</servlet-name>
  	<url-pattern>/servlet-admin</url-pattern>
  </servlet-mapping>
</web-app>
